*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}


#navbar_madre div a img{
    max-width: 90px;
}

.menu_nav_DX{
    width: 3.5em;
    background-color: white;
    border-radius: 15px;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.menu_nav_DX i {
    font-size: 15px;
}

.right_content {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    gap: 20px;
  }

  .right_content .menu_nav_DX {
    display: flex; 
    gap: 5px; 
  }

  .right_content a {
    color: white;
    text-decoration: none;
  }

.globe {
    color: white;
    font-size: 12px
}


.content {
    background-color: #ffffff; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 60%; 
}

/*----------------------------------------*/
/*JUMBOTRON*/
/*----------------------------------------*/
.title h1{
    font-size: 6.5rem;
}

#hero{
    background-image: url('/assets/home.jpg');
    background-size: cover; /* Per adattare l'immagine alla dimensione del body */
    background-position: center;
    background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
    z-index: 10;
}


.review {
    min-height: 150px;
  }


footer ul li a.nav-link{
    color: white !important;
}

#riga_prt_cntr div div img{
    border-radius: 15px;
}

div.bg-white.p-5{
    margin-top: 10rem;
}

/*---------nav-search-bastarda*/
#search{
    max-width: 80%;
    border-radius: 30.05px;
}
.search-button-icon{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: #ffffff;
    background-color: #E41D56;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button-icon i{
    font-size: small;
}

#search div div div h6, #search div div div label, .guests h6{
    margin-bottom: 4px;
    font-size: 0.7em;
    font-weight: 700;
}
#search div div div input, #search div div div input, .guests input{
   color: grey;
}

#Collegamento a{
    text-decoration: none;
    color: #212529;
}