#iconapeople {
    background-color: #696969 !important;
    border-radius: 40px;
    border: #696969 solid 2px;
    padding: 5px; 
    display: inline-block; 
    color: #FFFFFF;

}

.word {
    font-size: 20px;
}
.linknav{
    text-decoration: none;
    color: #696969;
}

.logo{
    max-height: 50px;
}

/* dopo nav */

.h3 {margin-top: 80px;}


/*
.img{
    height: 150px;
    width: 200px;
    max-height:300px;
}
*/
@media (min-width: 992px) {
    
   .img1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-height: 100%;
    object-fit: cover;
   }
  
   .img{
     max-height: 210px;
     max-width: 300px;
   }
}
  
