*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


#navbar_madre div a img{
    max-width: 90px;
}

.menu_nav_DX{
    width: 3.5em;
    background-color: white;
    border-radius: 15px;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.menu_nav_DX i {
    font-size: 15px;
}

.right_content {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    gap: 20px;
  }

  .right_content .menu_nav_DX {
    display: flex; 
    gap: 5px; 
  }

  .right_content a {
    color: white;
    text-decoration: none;
  }

.globe {
    color: white;
    font-size: 12px
}


.content {
    background-color: #ffffff; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 55%; 
}

/*----------------------------------------*/
/*JUMBOTRON*/
/*----------------------------------------*/
.title h1{
    font-size: 6.5rem;
}

#hero{
    background-image: url('/assets/home.jpg');
    background-size: cover; /* Per adattare l'immagine alla dimensione del body */
    background-position: center;
    background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
    z-index: 10;
}