*{
    margin: 0;
    box-sizing: border-box;
}
#navbar_madre div a img{
    max-width: 90px;
}

.menu_nav_DX {
    width: 3.5em;
    background-color: white;
    border-radius: 15px;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.menu_nav_DX i {
    font-size: 15px;
}

.right_content {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    gap: 20px;
  }

  .right_content .menu_nav_DX {
    display: flex; 
    gap: 5px; 
  }

.right_content a {
    color: rgb(10, 10, 10);
    text-decoration: none;
  }


.place-content{
    align-items: center;
    margin-right: 20px;
}

.plus-icon {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    color:  #FFF;
    background-color: #E41D56;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.plus-icon:hover {
    transform: scale(1.1); 
}

.btn-houses{
    border: solid .5px #000;
    border-radius: 30px;
    background-color: #FFF;
}
.btn-houses a{
    color: #000;
    text-decoration: none;
    font-size: smaller;
}
p{
    font-size: small;
}

/* card settings */
.card{
    width: 12rem;
    border: none;
    cursor: pointer;
}
.card h6{
    font-weight: 400;
    font-size: small;
}
.card-body{
padding: 0;}

.card img{
    border-radius: 3%;
}
.card i{
    color: #E41D56;
    padding-right: 5px;
}
a {
    text-decoration: none;
}

.card {
    transition: transform 0.3s ease-in-out; 
}

.card:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    #navbar_madre div a img {
        max-width: 150px; 
    }

    .right_content {
        gap: 10px; 
    }

    .place-content {
        margin-right: 10px; 
    }

    .plus-icon {
        margin-left: 10px; 
        width: 25px; 
        height: 25px;
        font-size: 14px; 
    }

    .btn-houses {
        font-size: x-small; 
    }

    .card {
        width: 100%; 
        margin-bottom: 20px; 
    }
}



/* footer */