#iconapeople {
    background-color: #696969 !important;
    border-radius: 40px;
    border: #696969 solid 2px;
    padding: 5px; 
    display: inline-block; 
    color: #FFFFFF;

}

.word {
    font-size: 20px;
}
.linknav{
    text-decoration: none;
    color: #696969;
}

.logo{
    max-height: 50px;
}

/* dopo nav */

.h3 {margin-top: 80px;}


/*
.img{
    height: 150px;
    width: 200px;
    max-height:300px;
}
*/
@media (min-width: 992px) {
    
   .img1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 100%;
    object-fit: cover;
   }
  
   .imgdx .row div img {
     max-height:100%;
     max-width: 100%
   }
   .review {
     min-height: 150px;
   }
}
  
.img1{
    min-height: 100%;
}

.select{
    width: 100%;
    min-height: 38px;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.utente{
    max-width:70px;
    max-height: 70px;
}