*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}


#navbar_madre div a img{
    max-width: 90px;
}

.menu_nav_DX{
    width: 3.5em;
    background-color: white;
    border-radius: 15px;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.menu_nav_DX i {
    font-size: 15px;
}

.right_content {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    gap: 20px;
  }

  .right_content .menu_nav_DX {
    display: flex; 
    gap: 5px; 
  }

  .right_content a {
    color: white;
    text-decoration: none;
  }

.globe {
    color: white;
    font-size: 12px
}


.content {
    background-color: #ffffff; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 60%; 
}

/*----------------------------------------*/
/*JUMBOTRON*/
/*----------------------------------------*/
.title h1{
    font-size: 6.5rem;
}

#hero{
    background-image: url('/assets/home.jpg');
    background-size: cover; /* Per adattare l'immagine alla dimensione del body */
    background-position: center;
    background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
    z-index: 10;
}

<<<<<<< HEAD
/* pag 2 */
=======
h6{
    font-weight:500;
    font-size: small;
}
/*----------------------------------------*/
/*-----------BARRA CUSTOM RICERCA---------*/
/*----------------------------------------*/
.search-button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #FF0000;
    border-radius: 50%;
}

#nav_custom{
    padding: 0.2em;
    border-radius: 15em;
}

#nav_custom div{
    margin-right: 0.4em;
}

#nav_custom div:first-child{
    margin-right: 0.7em;
}
>>>>>>> 95153099dab938f16e3f8b429f155ce8dafb590a
